<form id='registrationForm'>
    <div class="container">
  
      <label for="name"><b>User Name</b></label>
      <input id="userName" type="text" placeholder="Enter User Name" name="user_name" required>
  <br>
      <label for="psw"><b>Password</b></label>
      <input id="psw" type="password" placeholder="Enter Password" name="psw" required>
  <br>
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input id="psw-r" type="password" placeholder="Repeat Password" name="psw-repeat" required>
    </div>
  </form> 